*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins"
}
#timertext{
  position: absolute;
  top: 25px;
  right: 12px;
 
}
.parent{
  display: flex;
  align-items: center;
  justify-content: center;

}
#clicksText{
  position: absolute;
  top: 88px;
  right: 12px;
}
#ScoresText{
  position: absolute;
  top: 150px;
  right: 12px;
}

#timer{
  position: absolute;
  top: 50px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#clicks{
  position: absolute;
  top:110px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid crimson ;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#Scores{
  position: absolute;
  top:170px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid crimson;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#redText{
    color:#edeb1d;
    font-size: 20px;
}
#navbar {
   
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(1, 37, 11, 0.352);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 20px;
}

#btnboard{
  color: white;
  background-color: rgba(128, 0, 128, 0);
  font-size: 20px;
  border: unset;
  padding: 0px 5px;
  
 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

} #btnboard:hover{
  transform: scale(1.1);
  font-size: bold;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
body {
    height: 100vh;
  background-image: url("./images/backimg.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
 
  }
  #StartGameDiv{
    text-align: center;
    font-size: 25px;
  }

  #gameStart{
    display: ruby;
    justify-content: center;
  }
  #startGameBtn{
margin-top: 10px;
      padding: 12px 20px;
      border-radius: 0 10px 10px 0px;
      background: linear-gradient(to right,red,darkred);
      color: white;
     display: flex;
     justify-content: center;
     text-align: center;
      font-size: 18px;
      border: none;
      transition: background-color 0.3s ease;

  }
  .flip_container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
margin-top: 30px;
    padding:  20px 70px;
    display: none;
    background-color: gray;
    border-radius: 15px;
  
  }
  #Inputbox{

      padding: 12px 20px;
      border-radius:  10px 0px 0 10px;
      border: unset;
      font-size: 18px;
  
  }
  #copyData{
    width: 100%;
    height: 91vh;
    position:absolute;
    top: 70px;
    background-image: url(./images/backimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
display: none;

    text-align: center;
}
  .backSide{
    transform: rotateY(180deg);
  }
  #GameOver {
    color: #fff;
    position: absolute;
    top: 12rem;
    font-size: 30px;
    display: none;
  }
  .flip-card {
    background-color: transparent;
    width: 170px;
    margin: 8px;
    border-radius: 5px;
    height: 170px;
    
    perspective: 1000px; 
  }
  
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
/*   
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 10px !important;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    width: 180px;
    height: 180px;
    color: black;
  }
  .flip-card-front img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  
  
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    width: 180px;
    height: 180px;
    transform: rotateY(180deg);
  }
  .flip-card-back img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  @media screen and (min-width:320px) and (max-width:570px){
    #score{
        font-size: 20px;
    }
    .parent{
      margin-top: 30px;
    }
    #navbar{
      font-size: 15px;
    }
    #StartGameDiv {
      text-align: center;
     font-size: 15px;
  }
  #GameOver {
    font-size: 15px;
  }
  #redText {
    color: #edeb1d;
    font-size: 10px;
}
#startGameBtn {
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 0 5px 5px 0px;

  font-size: 12px;

}
#Inputbox {
  padding: 8px 14px;
  border-radius:  5px 0px 0 5px;
  border: unset;

  font-size: 12px;

}
.flip_container {
  width: unset;
  margin: 10px;
  margin-top: 40px;
  padding: 33px 64px 28px 42px;
  
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  width: 70px;
  height: 70px;
  transform: rotateY(180deg);
}
.flip-card-front {
  background-color: #bbb;
  width: 70px;
  height: 70px;
  color: black;
}
.flip-card {
  width: 70px;
  height: 70px;
}
}
@media screen and (min-width:560px) and (max-width:1100px){
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    width: 150px;
    height: 150px;
    transform: rotateY(180deg);
  }
  #navbar{
    font-size: 20px;
  }
  #GameOver {
    font-size: 20px;
  }
  .flip-card-front {
    background-color: #bbb;
    width: 150px;
    height: 150px;
    color: black;
  }
  .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
  }
  .flip_container {

 
    width: 90%;
    margin-top: 30px;
    padding: 20px 0px;
    display: none;
    background-color: gray;
    border-radius: 15px;
}

}