*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins"
}
#timertext{
  position: absolute;
  top: 25px;
  right: 12px;
 
}
#clicksText{
  position: absolute;
  top: 88px;
  right: 12px;
}
#ScoresText{
  position: absolute;
  top: 150px;
  right: 12px;
}

#timer{
  position: absolute;
  top: 50px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#clicks{
  position: absolute;
  top:110px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid crimson ;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#Scores{
  position: absolute;
  top:170px;
  width: 40px;
  padding: 7px;
  height: 40px;
  border: 2px solid crimson;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  text-align: center;
  right: 12px;
}
#redText{
    color:lightcoral;
    font-size: 20px;
}
body {
    height: 100vh;
  background-image: url("./images/backimg.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  }
  #StartGameDiv{
    text-align: center;
  }

  #gameStart{
    display: flex;
    justify-content: center;
  }
  #startGameBtn{
 margin: 10px;
      padding: 12px 20px;
      border-radius: 10px;
      background: linear-gradient(to right,red,darkred);
      color: white;
     display: flex;
     justify-content: center;
     text-align: center;
      font-size: 18px;
      border: none;
      transition: background-color 0.3s ease;

  }
  .flip_container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 67%;
    padding:  40px 70px;
    display: none;
    background-color: gray;
    border-radius: 15px;
  
  }
  .backSide{
    transform: rotateY(180deg);
  }
  .flip-card {
    background-color: transparent;
    width: 200px;
    margin: 8px;
    border-radius: 5px;
    height: 200px;
    /* border: 2px solid #f1f1f1; */
    perspective: 1000px; 
  }
  
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
/*   
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 10px !important;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    width: 200px;
    height: 200px;
    color: black;
  }
  .flip-card-front img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  
  
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg);
  }
  .flip-card-back img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
 